.form_checkbox {
  .label {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
  }

  .brief {
    font-size: 12px;
    line-height: 18px;
    color: #999999;
  }

  :global(.mybricks-active .taroify-icon) {
    background-color: #fa6400;
    border: #fa6400 1px solid;
  }

  :global(.taroify-checkbox--vertical.taroify-checkbox) {
    display: flex;
  }
}
