.outer {
    width: 100%;
    height: 100%;

    .popover {
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: auto;
    }

    .carrier {
        width: 100%;
        height: 100%;
    }
}


:global(.mybricks_slot) {
    overflow: unset !important;
}